<div class="container mt-5">
    <div class="row">
      <div class="col-12">
        
        <!-- Enlace para ir a los favoritos -->
        <div class="text-center mt-4">
          <a [routerLink]="['/favorites']" class="btn btn-primary">Ver mis cómics favoritos</a>
        </div>

        <!-- Loader de Angular Material mientras se cargan los cómics -->
      <div *ngIf="isLoading" class="d-flex justify-content-center align-items-center my-5">
        <mat-progress-spinner
          color="primary"
          mode="indeterminate"
          diameter="50">
        </mat-progress-spinner>
      </div>
  
        <!-- Verificar si hay cómics -->
        <div *ngIf="comics.length > 0" class="row">
          <!-- Iterar sobre los cómics -->
          <div *ngFor="let comic of comics" class="col-md-4 mb-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{ comic.title }}</h5>

                <!-- Imagen del cómic -->
                <div class="text-center mb-3">
                    <img [src]="comic.imageUrl || 'http://i.annihil.us/u/prod/marvel/i/mg/b/40/image_not_available.jpg'" class="img-fluid" alt="{{ comic.title }}">
                </div>
  
                <!-- Botón de agregar a favoritos -->
                <button class="btn btn-success w-100 mt-2" (click)="addToFavorites(comic)">
                  Agregar a favoritos
                </button>
  
                <!-- Botón para ver detalles del cómic -->
                <a [routerLink]="['/details', comic.id]" class="btn btn-info w-100 mt-2">
                  Ver detalles
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  